<main class="deck">
  <section class="deck__content d-flex flex-column align-items-center">
    <app-header
      [title]="headerText"
      [button]="buttonText"
      (whenClick)="getPlay()"
    ></app-header>

    <section class="{{ classContainer }} d-flex {{ classFlex }} flex-wrap ">
      <ng-container *ngFor="let item of deck">
        <figure *ngIf="turnCards" class="deck__card m-2">
          <img [src]="item.frontside" [alt]="item.name" />
        </figure>
        <figure *ngIf="!turnCards" class="{{ classFigure }} m-2">
          <img
            [src]="item.turn ? item.frontside : item.backside"
            [alt]="item.name"
            (click)="getOneCard(item.name)"
          />
        </figure>
        <article *ngIf="item.turn" class="card-text">
          <h2 class="mt-2">{{ item.name }}</h2>
          <p class="mt-5">
            {{ paragraph }}
          </p>
          <p>
            {{ paragraph }}
          </p>
        </article>
      </ng-container>
    </section>
  </section>
</main>
